.about .div1 {
  max-width: 80vw;
  padding-left: 10vw;
}

.about .div2 {
  flex-direction: column;
}

section {
  width: 80%;
  margin: 0 auto;
}

.about {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
}
  
 .about .div1 { grid-area: auto; }
 .about .div2 { grid-area: 1 / 2 / 2 / 3; }

.about .hero {
  margin-bottom: 24px;
}
#hero-image-small {
  display: none !important;
} 

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
  text-align: center;
}

.about__desc {
  font-size:calc(16px + .5vw) !important;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about__contact {
  display: flex;
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 16px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}


@media (max-width: 1150px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .hero {
    flex-wrap: wrap;
  }
  
  #hero-image {
    display: none !important;
  }

  .about--secondary-text {
    display: none;
  }

  .about--secondary-icon > * {
    margin: 0 !important;
  }
  
  #hero-image-small {
    display: block !important;
  }

  .about .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .about .div3 { grid-area: 1 / 1 / 1 / 1; }
    .about .div4 { grid-area: 1 / 2 / 1 / 2; }
    .about .div5 { grid-area: 2 / 1 / 2 / 3; }
    .about .div6 { grid-area: 1 / 4 / 3 / 5; }

    .about .div1 {
      max-width: 80vw;
      margin: 0 5vw;
    }
}

@media (max-width: 900px) {
  .about {
    margin: 0 auto;
  }

  .about .div1 {
    max-width: 80vw;
  }
}

@media (max-width: 650px) {
  .about .div1 {
    max-width: 90vw;
    margin: 5vw 1vw 0 1vw;
    padding-left: 7vw;
  }

  .about--primary-text {
    display: none;
  }

  .about--primary-icon > * {
    margin: 0 !important;
  }
}