.about .div2 {
  flex-direction: column;
}

section {
  width: 80%;
  margin: 0 auto;
}

.about {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
 .about .div1 { grid-area: auto; }
 .about .div2 { grid-area: 1 / 2 / 2 / 3; }

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
  text-align: center;
}

.about__desc {
  font-size:calc(16px + .5vw) !important;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about__contact {
  display: flex;
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 16px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}




@media (max-width: 1150px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .hero {
    flex-wrap: wrap;
  }
  
  #hero-image {
    display: none !important;
  }

  .about--secondary-text {
    display: none;
  }

  .about--secondary-icon > * {
    margin: 0 !important;
  }

}
